* {
	background-color: #6CCFF6;
}

.flex-wrapper {
	margin: 200px auto;
	display: flex;
	height: 640px;
	width: 640px;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	background-color: #ddd;
}

.cell {
	box-sizing: border-box;
	width: 156px;
	height: 156px;
	background-color: white;
	border: solid 1px #aaa;
	margin: 0px;
	flex: 1 0 1;
}